footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;


  h3 {
    color: #e6e6e6;
    font-weight: normal;
    font-size: 1.2em;
    font-family: "Shrikhand", cursive;
    margin-left: 40px;
  }
  a {
    color: #fff;
  }
  li{
    list-style-type: none;
  }
  ul li {
    margin-bottom: 10px;
  }
  i.fas{
    margin-right: 10px;
    font-size: 0.8em;
  }

}
