footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-width: 320px;

    h3 {
        color: #e6e6e6;
        font-weight: normal;
        font-size: 1.2em;
        font-family: 'Shrikhand', cursive;
    }

    a {
        color: #FFF;
    }

    a:hover {
        text-decoration: underline;
        color: #FFF;
        margin-bottom: 15px;
    }

}