.btn {
  color: white;
  padding: 15px;
  background-image: linear-gradient(
    to right bottom,
    #ff76da,
    #e86bdb,
    #cf63dc,
    #b35cdc,
    #9356dc
  );
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 35px;
  line-height: 1.2em;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
  &:hover{
    transition: 300ms;
    opacity: 0.9;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  }
}
