*{
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}
header, main, footer {
  max-width: 1200px;
  margin: 0 auto ;
}
*:not(i) {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ol{
    list-style-type:none;
}