*{
    box-sizing: border-box;
}
header,
main,
footer section {
  max-width: 576px;
  margin: 0 ;
}
main{
    padding: 0 16px;
}
h1,
h2,
p {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
  }