#search-bar , #info{
  padding: 1px;
}
#steps h2, #restaurants h2 {
  margin-left: 80px;
}
#search-bar {
  background-color: darken($color_repas, 8.1%);
  p {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
  }
  i {
    position: relative;
    right: 1em;
  }
}
#info {
  background-color: darken($color_repas, 3.6%);
  height: 257px;
  text-align: center;

  h1 {
    font-size: 2em;
  }
  p {
    color: gray;
    font-size: 1em;
    margin-bottom: 50px;
  }
  a {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px 15px;
    background-image: linear-gradient(
      to top,
      rgba(174, 86, 220, 0.9),
      rgba(255, 121, 218, 0.9)
    );
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    height: 150px;
  }
}
#steps {
  counter-reset: steps;
  ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  } 

  li {
    position: relative;
    &::before {
      content: "" counter(steps);
      counter-increment: steps;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: $color_primary;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      position: absolute;
      bottom: 16px;
      left: -16px;
    }
    padding: 20px 60px;
    font-size: 1.2em;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: darken($color_repas, 2.6%);
  }
  i.fas {
    margin-right: 20px;
    margin-left: -20px;
    color: lightslategray;
  } 
}

#restaurants {
  background-color: darken($color_repas, 3.6%);
  article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  figure {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
  }
  figure > img {
    height: 250px;
    width: 500px;
  }
  img {
    max-height: 200px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  span {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: $color_ter;
    color: darken($color_ter, 40%);
    width: 87px;
    height: 30px;
    font-size: 1.2em;
    display: grid;
    place-items: center;
    top: 50px;
    left: 420px;
  }
  figcaption {
    font-size: 1em;
    margin-left: 15px;
    
    h3 {
      font-weight: bold;
    }
    i{
      font-size: 30px;
      color: grey;
      &:hover{
          animation: fill 1s ease-out;
          background: linear-gradient($color_secondary, $color_primary);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
      }
    }
  }
}
