
#search-bar {
  background-color: darken($color_back, 8.1%);
  p {
    text-align: center;
    font-weight: bold;
    color: #353535;
    padding: 15px 0;

  }
  i {
    position: relative;
    right: 1em;
  }
}
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darken($color_back, 3.6%);
  text-align: center;
  padding: 20px 0;

  h1 {
    width: 75%;
    font-size: 1.5em;
  }
  p {
    color: $color_lite_black;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 70%;
  }
}
#steps {
  display: flex;
  flex-direction: column;
  counter-reset: steps;
  align-items: center;
  ol {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 90%;
    margin: 0 auto;
  }

  li {
    position: relative;
    height: 75px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    &::before {
      content:counter(steps);
      counter-increment: steps;
      color: white;
      background-color: $color_primary;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8em;
    }
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: darken($color_back, 2.6%);
  }
  i{
    margin: 0 25px;
  }
  i.fas {
    color: lightslategray;
  }
}

#restaurants {
  background-color: darken($color_back, 3.6%);
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:90%;
    margin-bottom: 20px;
    a{
      width: 100%;
    }
  }
  figure {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
    margin: 0;
  }
  img {
    max-height: 200px;
    max-width: 600px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  span {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: $color_ter;
    color: darken($color_ter, 40%);
    width: 87px;
    height: 30px;
    font-size: 1.2em;
    display: grid;
    place-items: center;
    top: 50px;
    left: 450px;
  }
  figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
    margin-left: 15px;
    padding-bottom: 10px;
    h3 {
      font-weight: bold;
    }
    div{
      h3{
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    i {
      font-size: 30px;
      margin-right: 20px;
      margin-top: 20px;
      color: grey;
      &:hover {
        animation: fill 1s ease-out;
        background-image: linear-gradient($color_secondary, $color_primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }
    }
  }
}
@media screen and (min-width: 992px){
  #restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2{
      flex-basis: 100%;
    }
    span{
      left: 380px;
    }
  }

@media screen and (min-width: 1200px) {
  #steps {
    ol {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 40px;
      margin-bottom: 20px;
    }
  }
  #restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2{
      flex-basis: 100%;
    }
    span{
      left: 380px;
    }

  }
}
}
