#menu_image {
  margin: 0;
  height: 250px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#menu {
  position: relative;
  background-color: $color_back_lite;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -60px;
  z-index: 1;
  padding: 15px;
  div {
    display: flex;
    justify-content: space-between;
    h1 {
      font-family: "Shrikhand", cursive;
      font-size: 1.5em;
    }
  }
  div > a {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  #entree,
  #dish,
  #dessert {
    margin-top: 15px;
    h2 {
      border-bottom: 3px solid $color_ter;
      width: 50px;
      padding-bottom: 5px;
      margin-bottom: 20px;
      font-weight: lighter;
      font-size: 1.2em;
    }
    article {
      position: relative;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      background-color: $color_back;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
      animation: appear .8s both;
      @keyframes appear {
        0% {
          transform: translateY(50%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      &:hover {
        .icon {
          margin-right: 0;
        }
        span {

          animation: spin 500ms;
        }
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);

          }
        }
      }
      div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h4 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 90%;
        }
        p {
          color: $color_lite_black;
          width: 90%;
          font-weight: lighter;
          font-size: 0.9em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      > p {
        align-self: flex-end;
        font-weight: bold;
        font-size: 0.9em;
        margin: 0 15px 10px 0;
      }
      .icon {
        background-color: $color_ter;
        border-radius: 0 15px 15px 0;
        align-items: center;

        width: 60px;
        padding-top: 15px;
        margin-right: -60px;
        transition: all 500ms;

        span {
          color: white;
          font-size: 25px;
        }

      }
    }
    @for $i from 0 to 9 {
      .delay-#{$i} {
        animation-delay: calc(#{$i/7}s);

      }
    }
  }
}

@media screen and (min-width: 768px) {
  #menu_image {
    img {
      object-position: 20% 75%;
    }
  }
  #menu {
    #entree,
    #dish,
    #dessert,
    > div {
      width: 70%;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 1200px) {
  #menu_image {
    height: 350px;
  }
  #menu {
    max-width: 992px;
    margin: 0 auto;
    margin-top: -85px;
    #entree,
    #dish,
    #dessert,
    > div {
      width: 90%;
    }
  }
}
