figure {
  margin: 0;
  height: 250px;
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
#menu {
  position: relative;
  background-color: #f6f6f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -60px;
  z-index: 1;
  div {
    display: flex;
    justify-content: space-between;
    h1 {
      margin-left: 20px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    i {
      margin-top: 30px;
      margin-right: 40px;
      font-size: 30px;
      &:hover {
        animation: fill 1s ease-out;
        background-image: linear-gradient(#ff76da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
      }
    }
  }

  #entree {
    padding: 0 30px;
    h2 {
      border-bottom: 4px solid #99e2d0;
      width: 70px;
    }
    article {
      position: relative;
      display: flex;
      background-color: #ffff;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        p {
          margin: 0;
          color: #353535;
          font-size: 0.9em;
          margin-bottom: 10px;
        }
      }
      strong {
        position: absolute;
        right: 24px;
        bottom: 9%;
        font-weight: bold;
      }
      i{
        display: none;
      }
    }
  }

  #dish {
    padding: 20px 30px;
    h2 {
      border-bottom: 4px solid #99e2d0;
      width: 60px;
    }
    article {
      position: relative;
      display: flex;
      background-color: #ffff;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        p {
          margin: 0;
          color: #353535;
          font-size: 0.9em;
          margin-bottom: 10px;
        }
      }
      strong {
        position: absolute;
        right: 24px;
        bottom: 9%;
        font-weight: bold;
        display: inline-block;
      }
    }
  }

  #dessert {
    padding: 20px 30px;
    h2 {
      border-bottom: 4px solid #99e2d0;
      width: 60px;
    }
    article {
      position: relative;
      display: flex;
      background-color: #ffff;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        p {
          margin: 0;
          color: #353535;
          font-size: 0.9em;
          margin-bottom: 10px;
        }
      }
      strong {
        position: absolute;
        right: 24px;
        bottom: 9%;
        font-weight: bold;
        display: inline-block;
      }
    }
  }
}

@media screen and (min-width: 768px){
  #entree{
    article{
      width: 50%;
    }
  }
  #dish{
    article{
      width: 50%;
    }
  }
  #dessert{
    article{
      width: 50%;
    }
  }
}
