@mixin heart_animation{
    transition: all .7s;
    background-image: linear-gradient($color_secondary, $color_primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
